@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

#cta {
  background-image: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}

@media (max-width: 786px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url("../images/bg-simplify-section-mobile.svg");
  }
}

/* Hamburger Menu */
#hamburger-btn {
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: relative;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 2px;
  background-color: #000;
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

span.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translate(0, 7px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translate(-7px);
}
